
        <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
                <i class="icon-diamond"></i>
                <span class="title">Inventory</span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                <li class="nav-item  ">
                    <a href="ui_colors.html" class="nav-link ">
                        <span class="title">Invoices</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="ui_confirmations.html" class="nav-link ">
                        <span class="title">Requisitions</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="ui_general.html" class="nav-link ">
                        <span class="title">Reports</span>
                    </a>
                </li>
                <li class="nav-item  ">
                    <a href="ui_buttons.html" class="nav-link ">
                        <span class="title">Warehouses</span>
                    </a>
                </li>

            </ul>
        </li>
