@{
    ViewBag.Title = "Email Link";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ParentController = "Account";
    ViewBag.ParentAction = "Login";
    ViewBag.ParentTitle = "Inicio";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
   Active su cuenta haciendo clic en el enlace que le hemos enviado a su correo electronico.
</p>

