@{

    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div hidden>
    @using (Html.BeginForm("IndexData", "AdminUsers", FormMethod.Post, new { @id = ("form-ModalCursos") }))
    {
        @Html.AntiForgeryToken()


    }
</div>






<h3 class="page-title">
    Administración de Usuarios
</h3>


<div class="row">
    <div class="col-md-12">
        <div class="portlet box blue-dark">
            <div class="portlet-title">
                <div class="caption">
                    Usuarios
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"> </a>
                    <a href="javascript:;" class="fullscreen"> </a>
                </div>

            </div>
            <div class="portlet-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row ">
                    <div class="col-md-12">
                        <table class="table table-striped table-bordered table-hover dt-responsive" id="sys-table-cliente" cellspacing="0">
                            <thead>
                                <tr>
                                 
                                    <th>
                                        Usuario
                                    </th>
                                    <th>
                                        Rol
                                    </th>
                                    <th>
                                        Tipo
                                    </th>
                                    <th>
                                        Opciones
                                    </th>
                                </tr>
                            </thead>


                        </table>





                    </div>
                </div>
            </div>
        </div>
    </div>
</div>









@section topLevel{
    @{Html.RenderPartial("_RenderConfirm.Modal"); }
}

@section Scripts{

    <script>


        $(document).ready(function () {
            CreateTable();
        });
        function CreateTable() {
            var form = $('#form-ModalCursos');
            var url = form.attr('action');

            var table = $("#sys-table-cliente").DataTable({
                destroy: true,
                autoWidth: false,
                responsive: true,
                "lengthMenu": [
                    [10, 15, 20, 25, -1],
                    [10, 15, 20, 25, "All"]
                ],
                processing: true,
                serverSide: true,
                order: [0, "asc"],
                language: { processing: "Cargando...Por favor espere" },
                ajax: {
                    method: "POST",
                    url: url,
                    dataType: "json",

                    error: function (request, status, error) {
                        alert(request.responseText);
                    },
                },
                columns: [
                   
                    { "data": "Username" },
                    { "data": "Role" },
                    { "data": "Tipo" },
                    { "data": "menu" },

                ]
            });
            $('#sys-table-cliente_filter input').unbind();
            $('#sys-table-cliente_filter input').bind('keyup', function (e) {
                if (e.keyCode == 13) {
                    table.search(this.value).draw();

                }
            });
        }










    </script>
}
