@{
    ViewBag.Title = "Document";
    Layout = "";
}

@Scripts.Render("~/bundles/jquery")
  
<div>
    <iframe width="500" height="500" frameborder="0" src="https://storageinsecap.blob.core.windows.net/test/@Html.Raw(ViewBag.FileName)?BKxl/Mf5BVdR//yF1Ui9An5pFM4bDuRHue5iypm9nJ8ucF2OsjjZBFozXuUAbseyZCxoKkMTjFqT5ymILPaLrA=="></iframe>
</div>
